<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <title>Zillow Home Value Forecast</title>
</head>
<body>
  <h1>Zillow Home Value Forecast</h1>
  <br></br>
<div>
  <form action="/process" method="post" role="form">
    <label for="zip">Enter your ZIP code:</label><br></br>
    <input type="text" id="zip" name="zip">
    <input type="submit" form="submit" value="Submit">
  </form>
</div>
  <br></br>
  <table border=1 id="forecast" class="center">
    <thead>
      <th>ZIP Code</th>
      <th>One-Year Home Value Forecast</th>
    </thead>
    {% for row in rows %}
      <tr>
	<td>{{ row[0]}}</td>
	<td>{{ row[1]}}%</td>
      </tr>
	{% endfor %}
   </table>	
</body>
</html>
